/LoneMiner/.vs/LoneMiner/v15/*
/LoneMiner/Library/*
/LoneMiner/Assembly-CSharp.csproj
/LoneMiner/Assembly-CSharp-firstpass.csproj
/LoneMiner/Assembly-CSharp-Editor.csproj
/LoneMiner/Temp/*
/LoneMiner/Builds/*
